extends base.pug

block scripts
  script(src='static/index.js')

block style 
    style 
        include ../static/style.css
        include ../static/style1.css

block content 
    h1 About US  
    p.cow  Vs Academy is one of the best guided academy. Once People come here,they learn about dance forms.Lorem ipsum, dolor sit amet consectetur adipisicing elit. Delectus, voluptatem nihil ullam qui dicta deleniti ipsa eum ex sapiente natus. Autem molestiae nisi expedita consequatur velit. Totam quae assumenda sed.        