doctype html
html
  head
    title Vs Dance Academy
    block scripts
    block style 
  body
    nav#navbar 
       ul
          div#logo 
           img(src="./static/img4.w ebp", alt="", srcset="")
           | Vs
          li #[a(href='/') Home] 
          li #[a(href='/') Services] 
          li #[a(href='about') About ]
          li #[a(href='/') Class Info] 
          li #[a(href='contact') Contact Us]
    marquee(behavior="", direction="left") Let's Dance With Us        
    block content
    footer#footer 
       h1 Join Our Academy    
       p Use Cuponcode 'VS' For Admission
        