extends base.pug

block scripts
  script(src='static/index.js')

block style 
    style 
        include ../static/style.css 
        include ../static/cstyle.css

block content
    h1 Enroll Now
    form(action="/" method="post") 
      input(type="text",name="names",placeholder="Name" )
      input(type="text",name="age",placeholder="Age" )
      input(type="text",name="gender",placeholder="Gender" )
      input(type="text",name="adds",placeholder="Address" )
      textarea( name="txt", cols="20", rows="10",placeholder="text") 
      button.btn submit
